<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Parameter Schema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Edit Parameter Schema</h1>
    <form th:object="${parameterSchema}" th:action="@{/parameters/save}" method="post">
        <div class="form-group">
            <label for="schemaId">Schema ID:</label>
            <input type="text" id="schemaId" th:field="*{schemaId}" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label for="schemaVersion">Schema Version:</label>
            <input type="number" id="schemaVersion" th:field="*{schemaVersion}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="schemaDefinition">Schema Definition:</label>
            <textarea id="schemaDefinition" th:field="*{schemaDefinition}" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="isActive">Active:</label>
            <input type="checkbox" id="isActive" th:field="*{isActive}" class="form-check-input" />
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" th:field="*{description}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="createdDate">Created Date:</label>
            <input type="text" id="createdDate" th:field="*{createdDate}" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label for="modifiedDate">Modified Date:</label>
            <input type="text" id="modifiedDate" th:field="*{modifiedDate}" class="form-control" readonly />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
